<div id="page" class="hfeed site">
  <div id="preloader" preloader>
    <div class="preloader">
      <div class="cube1"></div>
      <div class="cube2"></div>
    </div>
  </div>

  <!-- slider -->
  <section id="slider">
    <div class="tp-banner-container">
      <div class="tp-banner" revolution>
        <ul>
          <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
            <img src="/assets/images/uploads/slide1.jpg"  alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
            <div class="tp-caption very_large_text customin customout" data-x="265" data-y="0" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0; transformPerspective:600; transformOrigin:50% 50%;" data-speed="600" data-start="1000" data-easing="Back.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" style="z-index: 2">MIKE</div>
            <div class="tp-caption very_large_text customin customout" data-x="645" data-y="0" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0; transformPerspective:600;transformOrigin:50% 50%;" data-speed="600" data-start="1500" data-easing="Back.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" style="z-index: 3">NEDER</div>
            <div class="tp-caption medium_text sft customout" data-x="center" data-y="120" data-customout="x:0;y:0;z:0;rotationX:0; rotationY:0; rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"  data-speed="600" data-start="2000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 4">V-CARD / RESUME / PORTFOLIO </div>
            <div class="tp-caption large_text skewfromleft customout" data-x="center" data-y="240" data-customout="x:0;y:0;z:0; rotationX:0; rotationY:0; rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600; transformOrigin:50% 50%;" data-speed="600" data-start="2500" data-end="5500" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 5"> <p class="border">ENJOYING THE RIDE...ALWAYS</p></div>
            <div class="tp-caption large_text skewfromright customout" data-x="center" data-y="240" data-customout="x:0;y:0;z:0; rotationX:0; rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600; transformOrigin:50% 50%;" data-speed="600" data-start="6500" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"> <p class="border">16 YEARS EXPERIENCE</p></div>
            <div class="tp-caption skewfromleftshort customout slider-buttons" data-x="295" data-y="435" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0; opacity:0; transformPerspective:600; transformOrigin:50% 50%;" data-speed="600" data-start="3000" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="off" style="z-index: 7"><a href="http://www.mikeneder.me/MediaKit.pdf" class="btn2"><i class="fa fa-download"></i> Download Media Kit</a> </div>
            <div class="tp-caption skewfromleftshort customout slider-buttons" data-x="645" data-y="435" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0; transformPerspective:600;transformOrigin:50% 50%;" data-speed="600" data-start="3500" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 8"><a href="#about" class="btn1"><i class="fa fa-briefcase"></i> ABOUT ME</a> </div>
          </li>
          <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
            <img src="/assets/images/uploads/slide2.jpg"  alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
            <div class="tp-caption very_large_text customin customout" data-x="265" data-y="0" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0; opacity:0; transformPerspective:600;transformOrigin:50% 50%;" data-speed="600" data-start="1000" data-easing="Back.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" style="z-index: 2">MIKE</div>
            <div class="tp-caption very_large_text customin customout" data-x="645" data-y="0" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0; transformPerspective:600;transformOrigin:50% 50%;" data-speed="600"  data-start="1500" data-easing="Back.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" style="z-index: 3">NEDER</div>
            <div class="tp-caption medium_text sft customout" data-x="385" data-y="120" data-customout="x:0;y:0;z:0;rotationX:0; rotationY:0; rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0; transformPerspective:600;transformOrigin:50% 50%;" data-speed="600" data-start="2000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 4">SOFTWARE DEVELOPER </div>
            <div class="tp-caption large_text skewfromleft customout" data-x="center" data-y="240" data-customout="x:0;y:0;z:0; rotationX:0; rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0; transformPerspective:600; transformOrigin:50% 50%;" data-speed="600" data-start="2500" data-end="5500" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 5"><p class="border">QUALITY WORK</p></div>
            <div class="tp-caption large_text skewfromright customout" data-x="center" data-y="240" data-customout="x:0;y:0;z:0; rotationX:0; rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0; transformPerspective:600; transformOrigin:50% 50%;" data-speed="600" data-start="6500" data-end="9500" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><p class="border">FAST TURNAROUND</p></div>
            <div class="tp-caption large_text skewfromleft customout" data-x="center" data-y="240" data-customout="x:0;y:0;z:0; rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600; transformOrigin:50% 50%;" data-speed="600" data-start="10500" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 7"><p class="border">GOAL DRIVEN</p></div>
            <div class="tp-caption skewfromleftshort customout slider-buttons" data-x="295" data-y="435" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0; transformPerspective:600;transformOrigin:50% 50%;" data-speed="600" data-start="3000" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="off" style="z-index: 8"><a href="http://www.mikeneder.me/MediaKit.pdf" class="btn2"><i class="fa fa-download"></i> Download Media Kit</a></div>
            <div class="tp-caption skewfromleftshort customout slider-buttons" data-x="645" data-y="435" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0; transformPerspective:600;transformOrigin:50% 50%;" data-speed="600" data-start="3500" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 9"><a href="#portfolio" class="btn1"><i class="fa fa-thumbs-up"></i> PORTFOLIO</a></div>
          </li>
          <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
            <img src="/assets/images/uploads/slide3.jpg"  alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
            <div class="tp-caption very_large_text customin customout" data-x="265" data-y="0" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0; transformPerspective:600;transformOrigin:50% 50%;" data-speed="600" data-start="1000" data-easing="Back.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" style="z-index: 2">MIKE</div>
            <div class="tp-caption very_large_text customin customout" data-x="645" data-y="0" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0; transformPerspective:600;transformOrigin:50% 50%;" data-speed="600" data-start="1500" data-easing="Back.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" style="z-index: 3">NEDER</div>
            <div class="tp-caption medium_text sft customout" data-x="580" data-y="120" data-customout="x:0;y:0;z:0;rotationX:0; rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="600" data-start="2000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 4">TECHNICAL MANAGER</div>
            <div class="tp-caption large_text skewfromleft customout" data-x="center" data-y="240" data-customout="x:0;y:0;z:0; rotationX:0; rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600; transformOrigin:50% 50%;" data-speed="600" data-start="2500" data-end="5500" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 5"><p class="border">LARGE SCALE PROJECTS</p></div>
            <div class="tp-caption large_text skewfromright customout" data-x="center" data-y="240" data-customout="x:0;y:0;z:0; rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600 ;transformOrigin:50% 50%;" data-speed="600" data-start="6500" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><p class="border">AGILE MANAGEMENT</p></div>
            <div class="tp-caption skewfromleftshort customout slider-buttons" data-x="295" data-y="435" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0; transformPerspective:600; transformOrigin:50% 50%;" data-speed="600" data-start="3000" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="off" style="z-index: 7"><a href="http://www.mikeneder.me/MediaKit.pdf" class="btn2"><i class="fa fa-download"></i> Download Media Kit</a> </div>
            <div class="tp-caption skewfromleftshort customout slider-buttons" data-x="645" data-y="435" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0; transformPerspective:600; transformOrigin:50% 50%;" data-speed="600" data-start="3500" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 8"><a href="#about" class="btn1"><i class="fa fa-briefcase"></i> ABOUT ME</a></div>
          </li>
          <li data-transition="fade" data-slotamount="5" data-masterspeed="700">
            <img src="/assets/images/uploads/slide4.jpg"  alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
            <div class="tp-caption very_large_text customin customout" data-x="265" data-y="0" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0; opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="600" data-start="1000" data-easing="Back.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" style="z-index: 2">MIKE</div>
            <div class="tp-caption very_large_text customin customout" data-x="645" data-y="0" data-customin="x:0;y:0;z:0;rotationX:90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;" data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0; transformPerspective:600;transformOrigin:50% 50%;" data-speed="600" data-start="1500" data-easing="Back.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" style="z-index: 3">NEDER</div>
            <div class="tp-caption medium_text sft customout" data-x="520" data-y="120" data-customout="x:0;y:0;z:0;rotationX:0; rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="600" data-start="2000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 4">INTERNET MARKETER</div>
            <div class="tp-caption large_text skewfromleft customout" data-x="center" data-y="240" data-customout="x:0;y:0;z:0; rotationX:0; rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600; transformOrigin:50% 50%;" data-speed="600" data-start="2500" data-end="4500" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 5"><p class="border">NUMBERS TELL THE TALE</p></div>
            <div class="tp-caption large_text skewfromright customout" data-x="center" data-y="240" data-customout="x:0;y:0;z:0; rotationX:0; rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600; transformOrigin:50% 50%;" data-speed="600" data-start="5000" data-easing="Power4.easeOut" data-endspeed="300" data-endeasing="Power1.easeIn" data-captionhidden="off" style="z-index: 6"><p class="border">CONVERSION IS KING!</p></div>
            <div class="tp-caption skewfromleftshort customout slider-buttons" data-x="280" data-y="435" data-customout="x:0;y:0;z:0; rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600; transformOrigin:50% 50%;" data-speed="600" data-start="3000" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="off" style="z-index: 7"><a href="http://www.mikeneder.me/MediaKit.pdf" class="btn2"><i class="fa fa-download"></i> Download Media Kit</a></div>
            <div class="tp-caption skewfromleftshort customout slider-buttons" data-x="640" data-y="435" data-customout="x:0;y:0;z:0; rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600; transformOrigin:50% 50%;" data-speed="600" data-start="3500" data-easing="Back.easeOut" data-endspeed="500" data-endeasing="Power4.easeIn" data-captionhidden="on" style="z-index: 8"><a href="#contact" class="btn1"><i class="fa fa-briefcase"></i> CONTACT ME</a></div>
          </li>
        </ul>
        <div class="tp-bannertimer"></div>
      </div>
    </div>
  </section>

  <!-- navigation -->
  <section id="navigation" sticky>
    <div class="navbar navbar-inverse" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        </div>
        <div id="menutop" class="collapse navbar-collapse">
          <ul id="menu-menu-top" class="nav navbar-nav pull-right" one-page-nav>
            <li class="current menu-item"><a href="/#slider">top</a></li>
            <li class="menu-item"><a href="/#about">About</a></li>
            <li class="menu-item"><a href="/#my-skills">Skills</a></li>
            <li class="menu-item"><a href="/#process">Process</a></li>
            <li class="menu-item"><a href="/#work-experience">Work Experience</a></li>
            <li class="menu-item"><a href="/#services">Services</a></li>
            <li class="menu-item"><a href="/#portfolio">Portfolio</a></li>
            <li class="menu-item"><a href="/#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <!-- about -->
  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 section-heading">
          <div class="heading animated" data-animation="fadeInUp" data-animation-delay="200">ABOUT ME</div>
          <h1 class="icon-line animated" data-animation="fadeInUp" data-animation-delay="700"><i class="fa fa-briefcase"></i></h1>
          <div class="description animated" data-animation="fadeIn" data-animation-delay="1200">Well...about me huh? Where do I start? Here we go...</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 personal-info col-left animated" data-animation="fadeInRight" data-animation-delay="1700">
          <div class="line1">FULL NAME <span class="line2">{{profile.name}}</span></div>
          <div class="line1">BIRTHDAY <span class="line2">{{profile.dob | date: 'dd MMM'}}</span></div>
          <div class="line1">BIRTH PLACE <span class="line2">{{profile.birthPlace}}</span></div>
          <div class="line1">HOBBIES <span class="line2">{{profile.hobby}}</span></div>
        </div>
        <div class="col-md-6">
          <div class="col-md-8 col-md-offset-2 animated" data-animation="fadeInUp" data-animation-delay="2000">
            <div id="my-pic-carousel" class="pic owl-carousel" owl-carousel owl-carousel-options='{autoPlay: 5000, slideSpeed: 500, items: 1, itemsDesktop: [1199, 1], itemsDesktopSmall: [979, 1], itemsTablet: [768, 1], itemsMobile: [479, 1], autoHeight: true, pagination: false, navigation: true, navigationText: ["<i class=&#39;fa fa-angle-left&#39;></i>", "<i class=&#39;fa fa-angle-right&#39;></i>"]}'><img class="img-responsive" src="/assets/images/uploads/about1.jpg" alt="" /><img class="img-responsive" src="/assets/images/uploads/about2.jpg" alt="" /><img class="img-responsive" src="/assets/images/uploads/mike.jpg" alt="" /></div>
          </div>
        </div>
        <div class="col-md-3 personal-info col-right animated" data-animation="fadeInLeft" data-animation-delay="1700">
          <div class="line1">ADDRESS <span class="line2">{{profile.address}}</span></div>
          <div class="line1">PHONE <span class="line2">{{profile.phone}}</span></div>
          <div class="line1">EMAIL <span class="line2">{{profile.email}}</span></div>
          <div class="line1">WEB <span class="line2">{{profile.web}}</span></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 animated" data-animation="fadeInUp" data-animation-delay="2200">
          <div class="intro">{{profile.bio}}</div>
        </div>
      </div>
      <div>
        <div class="link-btn"><a href="#my-skills"><i class="fa fa-rocket"></i> MY SKILLS</a></div>
      </div>
    </div>
  </section>

  <!-- skills -->
  <section id="my-skills">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 section-heading">
          <div class="heading animated" data-animation="fadeInUp" data-animation-delay="200">MY SKILLS</div>
          <h1 class="icon-line animated" data-animation="fadeInUp" data-animation-delay="700"><i class="fa fa-rocket"></i></h1>
          <div class="description animated" data-animation="fadeIn" data-animation-delay="1200">Through management in marketing and development, I have accumulated a vast range of skills and experience over the years. Being a web <dfn title="a person whose expertise spans a significant number of different subject areas; such a person is known to draw on complex bodies of knowledge to solve specific problems. The term was first used in the seventeenth century but the related term, polyhistor, is an ancient term with similar meaning.">polymath</dfn> is probably one of the most exciting and rewarding aspects about this business.
          </div>
        </div>
      </div>
      <div class="owl-carousel animated" data-animation="fadeIn" data-animation-delay="1700" id="myskills-carousel" owl-carousel owl-carousel-options='{autoPlay: 5000, slideSpeed: 500, items: 5, itemsDesktop: [1199, 5], itemsDesktopSmall: [979, 4], itemsTablet: [768, 2], itemsMobile: [479, 1], autoHeight: true, pagination: true, navigation: false, navigationText: ["<i class=&#39;fa fa-angle-left&#39;></i>", "<i class=&#39;fa fa-angle-right&#39;></i>"]}'>
        <div class="items" ng-repeat="skill in skills">
          <div id="donutchart{{$index + 1}}" data-percent="{{skill.strength}}" donutchart> </div>
          <p>{{skill.name}} </p>
        </div>
      </div>
      <div class="link-btn animated" data-animation="fadeInUp" data-animation-delay="2200">
        <a href="#education"><i class="fa fa-book"></i> EDUCATION</a>
      </div>
    </div>
  </section>

  <!-- education -->
  <section id="education">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 section-heading">
          <div class="heading animated" data-animation="fadeInUp" data-animation-delay="200">EDUCATION</div>
          <h1 class="icon-line animated" data-animation="fadeInUp" data-animation-delay="700"><i class="fa fa-book"></i></h1>
          <div class="description animated" data-animation="fadeIn" data-animation-delay="1200">Knowledge is power.</div>
        </div>
      </div>
      <div class="education-timeline animated" data-animation="fadeInUp" data-animation-delay="1700">
        <div class="row education" ng-repeat="education in educations">
          <div class="col-md-6 col-xs-6">
            <div class="divider"><i class="fa fa-book"></i></div>
            <div class="col-left">
              <div class="duration">{{education.startMonth | date: 'MMM'}} {{education.startYear}} - {{education.endMonth | date: 'MMM'}} {{education.endYear}}</div>
              <div class="description">{{education.description}}</div>
            </div>
          </div>
          <div class="col-md-6 col-xs-6">
            <div class="col-right">
              <div class="programe">{{education.degree}}</div>
              <div class="university"><strong>{{education.school}}</strong>
                {{education.location}}</div>
            </div>
          </div>
        </div>
      </div>

      <hr />

      <div class="link-btn"><a href="#process"><i class="fa fa-cogs"></i> PROCESS</a></div>
    </div>
  </section>

  <!-- process -->
  <section id="process" data-speed="10" data-type="background">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 section-heading">
          <div class="heading animated" data-animation="fadeInUp" data-animation-delay="200">PROCESS</div>
          <h1 class="icon-line animated" data-animation="fadeInUp" data-animation-delay="700"><i class="fa fa-cogs"></i></h1>
          <div class="description animated" data-animation="fadeIn" data-animation-delay="1200">Seeing a project through, from inception to return on investment.</div>
        </div>
      </div>
      <div class="row animated" data-animation="fadeInUp" data-animation-delay="1700">
        <p align="center" style="width: 100%; clear: both;">
          <a class="items cen" ng-repeat="process in processes"><i class="fa {{process.icon}}"></i><br>{{process.name}}</a>
        </p>
      </div>
      <div class="link-btn animated" data-animation="fadeInUp" data-animation-delay="2200"><a href="#work-experience"><i class="fa fa-tags"></i> WORK EXPERIENCE</a></div>
    </div>
  </section>

  <!-- experience -->
  <section id="work-experience">
    <div class="container">
      <style type="text/css">

      </style>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 section-heading">
          <div class="heading animated" data-animation="fadeInUp" data-animation-delay="200">WORK EXPERIENCE</div>
          <h1 class="icon-line animated" data-animation="fadeInUp" data-animation-delay="700"><i class="fa fa-tags"></i></h1>
          <div class="description animated" data-animation="fadeIn" data-animation-delay="1200">With a vast history of work experience, here are some of the most challenging and intellectually rewarding projects on which I have had the pleasure of working.</div>
        </div>
      </div>
      <div class="work-experience-timeline animated" data-animation="fadeInUp" data-animation-delay="1700">
        <div class="row" ng-repeat="experience in experiences" ng-if="$even">
          <div class="col-md-6 col-xs-6">
            <div class="col-left">
              <div class="arrow"></div>
              <div class="company-name">{{experience.company}}</div>
              <div class="designation">{{experience.title}}</div>
              <div class="duration" ng-if="!experience.current">{{experience.startMonth | date: 'MMM'}} {{experience.startYear}} - {{experience.endMonth | date: 'MMM'}} {{experience.endYear}}</div>
              <div class="duration" ng-if="experience.current">{{experience.startMonth | date: 'MMM'}} {{experience.startYear}} - CURRENT</div>
              <div class="description">{{experience.description}}</div>
              <div class="url" ng-if="experience.website"><a href="http://{{experience.website}}/">{{experience.website}}</a></div>
            </div>
          </div>
          <div class="col-md-6 col-xs-6">
            <div class="col-right" ng-if="experiences[$index + 1].company != null">
              <div class="arrow"></div>
              <div class="company-name">{{experiences[$index + 1].company}}</div>
              <div class="designation">{{experiences[$index + 1].title}}</div>
              <div class="duration" ng-if="!experiences[$index + 1].current">{{experiences[$index + 1].startMonth | date: 'MMM'}} {{experiences[$index + 1].startYear}} - {{experiences[$index + 1].endMonth | date: 'MMM'}} {{experiences[$index + 1].endYear}}</div>
              <div class="duration" ng-if="experiences[$index + 1].current">{{experiences[$index + 1].startMonth | date: 'MMM'}} {{experiences[$index + 1].startYear}} - CURRENT</div>
              <div class="description">{{experiences[$index + 1].description}}</div>
              <div class="url" ng-if="experiences[$index + 1].website"><a href="http://{{experiences[$index + 1].website}}/">{{experiences[$index + 1].website}}</a></div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="link-btn"><a href="#services"><i class="fa fa-serviw"></i> SERVICES</a></div>
    </div>
  </section>

  <!-- services -->
  <section id="services" data-speed="10" data-type="background">
    <div class="container">
      <style type="text/css">

      </style>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 section-heading">
          <div class="heading animated" data-animation="fadeInUp" data-animation-delay="200">SERVICES</div>
          <h1 class="icon-line animated" data-animation="fadeInUp" data-animation-delay="700"><i class="fa fa-servi"></i></h1>
          <div class="description animated" data-animation="fadeIn" data-animation-delay="1200">Offering a vast range of services.  All ingredients to an end goal of success.</div>
        </div>
      </div>
      <div class="owl-carousel animated" data-animation="fadeInUp" data-animation-delay="1700" id="services-carousel" owl-carousel owl-carousel-options='{autoPlay: 5000, slideSpeed: 500, items: 4, itemsDesktop: [1199, 3], itemsDesktopSmall: [979, 3], itemsTablet: [768, 2], itemsMobile: [479, 1], autoHeight: true, pagination: true, navigation: false, navigationText: ["<i class=&#39;fa fa-angle-left&#39;></i>", "<i class=&#39;fa fa-angle-right&#39;></i>"]}'>
        <div class="items" ng-repeat="service in services">
          <div class="icon"><p align="center"><img ng-src="/assets/images/uploads/{{service.image}}" alt=""></p></div>
          <div class="description">{{service.name}}</div>
        </div>
      </div>
      <div class="link-btn animated" data-animation="fadeInUp" data-animation-delay="2200"><a href="#portfolio"><i class="fa fa-thumbs-up"></i> PORTFOLIO</a></div>
    </div>
  </section>

  <!-- portfolio -->
  <section id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 section-heading">
          <div class="heading animated" data-animation="fadeInUp" data-animation-delay="200">PORTFOLIO</div>
          <h1 class="icon-line animated" data-animation="fadeInUp" data-animation-delay="700"><i class="fa fa-thumbs-up"></i></h1>
          <div class="description animated" data-animation="fadeIn" data-animation-delay="1200">The following section contains details about the brands that I have worked with or for, we as as the services and tools that I have worked with or used.</div>
        </div>
      </div>
      <div class="row animated" data-animation="fadeInUp" data-animation-delay="1700">
        <div class="col-md-12">
          <div id="options">
            <ul id="filters" class="option-set clearfix" data-option-key="filter">
              <li><a href="#filter" data-option-value="*" class="selected">ALL</a></li>
              <li><a href="#filter" data-option-value=".web">BRANDS</a></li>
              <li><a href="#filter" data-option-value=".photos">SERVICES</a></li>
              <li><a href="#filter" data-option-value=".videos">TOOLS</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="portfolio-detail" ng-if="selectedPortfolio" ng-class="{'open-box': selectedPortfolio}">
        <div class="close" ng-click="closeDetail()"></div>
        <div class="container">
          <div class="row">
            <div class="col-md-7">
              <div class="owl-carousel owl-theme" owl-carousel owl-carousel-options='{navigation : true, slideSpeed : 400, paginationSpeed : 500, singleItem:true, pagination:true, autoPlay : 5000, navigationText : [""]}'>
                <div class="item" ng-repeat="slideImage in selectedPortfolio.slideImages"><img ng-src="/assets/images/uploads/{{slideImage}}" class="" /></div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="heading">{{selectedPortfolio.client}}</div>
              <div class="desc">{{selectedPortfolio.detail}}</div>
              <ul>
                <li ng-if="selectedPortfolio.category"><strong>Category:</strong> {{selectedPortfolio.category}}</li>
                <li ng-if="selectedPortfolio.website"><strong>URL:</strong> {{selectedPortfolio.website}}</li>
                <li ng-if="selectedPortfolio.year"><strong>Year:</strong> {{selectedPortfolio.year}}</li>
              </ul>
              <div class="social-icons">
                <ul>
                  <li ng-if="selectedPortfolio.facebook"><a href="{{selectedPortfolio.facebook}}"><i class="fa fa-facebook"></i></a></li>
                  <li ng-if="selectedPortfolio.twitter"><a href="{{selectedPortfolio.twitter}}"><i class="fa fa-twitter"></i></a></li>
                  <li ng-if="selectedPortfolio.pinterest"><a href="{{selectedPortfolio.pinterest}}"><i class="fa fa-pinterest"></i></a></li>
                  <li ng-if="selectedPortfolio.linkedin"><a href="{{selectedPortfolio.linkedin}}"><i class="fa fa-linkedin"></i></a></li>
                  <li ng-if="selectedPortfolio.googleplus"><a href="{{selectedPortfolio.googleplus}}"><i class="fa fa-google-plus"></i></a></li>
                </ul>
              </div>
              <div class="links">
                <div class="close-detail pull-right"><a ng-click="closeDetail()"><i class="fa fa-times"></i> Close</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row animated" data-animation="fadeInUp" data-animation-delay="2200" id="container-thumbs">
          <div class="col-xs-12 col-sm-6 col-md-3 items web" ng-repeat="portfolio in portfolios | filter: {type: 'brands'}">
            <div><a class="overlayzoom" ng-click="showDetail(portfolio)"><img ng-src="/assets/images/uploads/{{portfolio.logo}}" class="img-responsive" alt=""><span class="zoom"><span><i class="fa fa-search"></i></span></span></a></div>
            <div class="heading">{{portfolio.client}}</div>
            <div class="category">{{portfolio.description}}</div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 items photos" ng-repeat="portfolio in portfolios | filter: {type: 'services'}">
            <div ><a class="overlayzoom" ng-click="showDetail(portfolio)"><img ng-src="/assets/images/uploads/{{portfolio.logo}}" class="img-responsive" alt=""><span class="zoom"><span><i class="fa fa-cogs"></i></span></span></a></div>
            <div class="heading">{{portfolio.client}}</div>
            <div class="category">{{portfolio.description}}</div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-3 items videos" ng-repeat="portfolio in portfolios | filter: {type: 'tools'}">
            <div ><a class="overlayzoom" ng-click="showDetail(portfolio)"><img ng-src="/assets/images/uploads/{{portfolio.logo}}" class="img-responsive" alt=""><span class="zoom"><span><i class="fa fa-tool"></i></span></span></a></div>
            <div class="heading">{{portfolio.client}}</div>
            <div class="category">{{portfolio.description}}</div>
          </div>
        </div>
        <div class="link-btn"><a href="#video"><i class="fa fa-play-circle-o"></i> VIDEO</a></div>
      </div>

    </div>
  </section>

  <!-- video -->
  <section id="video" data-speed="10" data-type="background">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 section-heading">
          <div class="heading animated" data-animation="fadeInUp" data-animation-delay="200">VIDEO</div>
          <div class="description animated" data-animation="fadeIn" data-animation-delay="700">HTML5 / SELF HOSTED VIDEO</div>
        </div>
      </div>
      <div class="row animated" data-animation="fadeInUp" data-animation-delay="1200">
        <div class="col-md-12">
          <div class="play"><a href="http://vimeo.com/80629469" lightbox data-remote="http://player.vimeo.cvideo/80629469" data-toggle="lightbox" data-gallery="mixedgallery" data-title="Pellentesque habitant morbi" data-footer="Aliquam erat volutpat"> <i class="fa fa-play-circle-o"></i></a></div>
          <div class="signature"><img src="/assets/images/signaturemn.png" style="max-width:100%" alt=""></div>
        </div>
      </div>
    </div>
    <div id="my-video">
      <video autoplay loop>
        <source src="/assets/videos/back.mp4" type="video/mp4">
        <source src="/assets/videos/back.webm" type="video/webm">
      </video>
    </div>
  </section>

  <!-- testimonials -->
  <section id="testimonials">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 section-heading">
          <div class="heading animated" data-animation="fadeInUp" data-animation-delay="200">TESTIMONIALS</div>
          <h1 class="icon-line animated" data-animation="fadeInUp" data-animation-delay="700"><i class="fa fa-quote-left"></i></h1>
        </div>
      </div>
      <div class="slides-container" style="position: relative; top: 0px; left: 160px; width: 750px; height: 340px; overflow: hidden;">
        <div u="slides" style="cursor: move; position: absolute; left: 0px; top: 0px; width: 750px; height: 340px; overflow: hidden;">
          <div class="items" ng-repeat="testimonial in testimonials" enable-jssor jssor-options="jssorOptions" jssor-trigger="{{$last}}">
            <div class="description">{{testimonial.quote}}</div>
            <div class="emp-name">- {{testimonial.name}} -</div>
            <div class="company-name">{{testimonial.company}}</div>
          </div>
        </div>
        <div u="navigator" class="jssorb03" style="position: absolute; bottom: 4px; right: 6px;">
          <div u="prototype" style="position: absolute; width: 21px; height: 25px; text-align:center; line-height:21px; color:white; font-size:12px;"></div>
        </div>
      </div>
      <div class="link-btn"><a href="#awards"><i class="fa fa-shield"></i> AWARDS</a></div>
    </div>
  </section>

  <!-- awards -->
  <section id="awards" data-speed="10" data-type="background">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 section-heading">
          <div class="heading animated" data-animation="fadeInUp" data-animation-delay="200">AWARDS</div>
          <h1 class="icon-line animated" data-animation="fadeInUp" data-animation-delay="700"><i class="fa fa-shield"></i></h1>
          <div class="description animated" data-animation="fadeIn" data-animation-delay="1200">Occasionally I have received awards for my accomplishments. To be honest, they have come as a complete surprise when given to me, but a nice surprise nonetheless. :) </div>
        </div>
      </div>
      <div class="owl-carousel animated" data-animation="fadeInUp" data-animation-delay="1700" id="awards-carousel" owl-carousel owl-carousel-options='{autoPlay: 5000, slideSpeed: 500, items: 4, itemsDesktop: [1199, 3], itemsDesktopSmall: [979, 3], itemsTablet: [768, 2], itemsMobile: [479, 1], autoHeight: true, pagination: true, navigation: false, navigationText: ["<i class=&#39;fa fa-angle-left&#39;></i>", "<i class=&#39;fa fa-angle-right&#39;></i>"]}'>
        <div class="items" ng-repeat="award in awards">
          <div class="icon"><p align="center"><img ng-src="/assets/images/uploads/{{award.image}}" alt=""></p></div>
          <div class="title">"{{award.title}}"</div>
          <div class="companyname">{{award.company}}</div>
          <div class="year">{{award.awardMonth | date: 'MMM'}} {{award.awardYear}}</div>
        </div>
      </div>
      <div class="link-btn animated" data-animation="fadeInUp" data-animation-delay="2200"><a href="#contact"><i class="fa fa-map-marker"></i> CONTACT</a></div>
    </div>
  </section>

  <!-- cv -->
  <section id="download-cv">
    <div class="container">
      <div class="row">
        <div class="col-md-8 animated" data-animation="fadeInLeft" data-animation-delay="200">
          <div class="description">Download a PDF version of my resume to veiw more details about me. </div>
        </div>
        <div class="col-md-4 animated" data-animation="fadeInRight" data-animation-delay="700">
          <div class="link-btn-2"><a href=""><i class="fa fa-download"></i> DOWNLOAD CV</a></div>
        </div>
      </div>
      <br/>
      <div class="row">
        <div class="col-md-8 animated" data-animation="fadeInLeft" data-animation-delay="200">
          <div class="description">Download my media kit to get a full overview of my services.</div>
        </div>
        <div class="col-md-4 animated" data-animation="fadeInRight" data-animation-delay="700">
          <div class="link-btn-2"><a href="http://www.mikeneder.me/MediaKit.pdf"><i class="fa fa-download"></i> MEDIA KIT</a></div>
        </div>
      </div>
    </div>
  </section>

  <!-- contact -->
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 section-heading">
          <div class="heading animated" data-animation="fadeInUp" data-animation-delay="200">CONTACT</div>
          <h1 class="icon-line animated" data-animation="fadeInUp" data-animation-delay="700"><i class="fa fa-map-marker"></i></h1>
        </div>
      </div>
      <div class="row contact-info animated" data-animation="fadeInUp" data-animation-delay="1200">
        <div class="col-md-12">
          <div class="address">PO Box 216 <br>
            South Amboy, NJ 08879
          </div>
          <div class="phone">(914) 484-0940</div>
          <div class="email">{{'mi' + 'ke@mike' + 'neder.me'}}</script></div>
          <div class="web">www.MikeNeder.me</div>
        </div>
      </div>
      <hr>
      <div class="contact-form">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 section-heading">
            <div class="heading animated" data-animation="fadeInUp" data-animation-delay="200">DROP ME A LINE</div>
            <h1 class="icon-line animated" data-animation="fadeInUp" data-animation-delay="700"><i class="fa fa-envelope"></i></h1>
          </div>
        </div>
        <div class="row form animated" data-animation="fadeInUp" data-animation-delay="1200">
          <div class="col-md-6 col-md-offset-3">
            [contact-form-7 id="115" title="Contact us"]
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- social -->
  <section id="social-media">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 section-heading">
          <div class="heading animated" data-animation="fadeInUp" data-animation-delay="200">GET IN TOUCH</div>
          <h1 class="icon-line animated" data-animation="fadeInUp" data-animation-delay="700"><i class="fa fa-comments"></i></h1>
          <div class="description animated" data-animation="fadeIn" data-animation-delay="1200">Or connect with me over various social channels.</div>
        </div>
      </div>
      <div class="row animated" data-animation="fadeInUp" data-animation-delay="1700">
        <div class="col-md-12 social-icons">
          <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="https://twitter.com/mikeneder"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            <li><a href="https://www.linkedin.com/in/mikeneder"><i class="fa fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>

</div>
