<div ng-include="'components/navbar/navbar.html'"></div>

<div id="page-wrapper" class="admin">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Testimonials <a ui-sref="admin:testimonial:add" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add Testimonial</a></h2>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-xs-12">

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Company</th>
            <th>Quote</th>
            <th>Edit/Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="testimonial in testimonials">
            <td>{{testimonial.name}}</td>
            <td>{{testimonial.company}}</td>
            <td>{{testimonial.quote | limitTo: 30}} ...</td>
            <td>
              <a class="btn" ui-sref="admin:testimonial:edit({testimonialId: testimonial._id})"><i class="fa fa-pencil-square-o"></i></a>
              <a class="confirm-delete btn" role="button" ng-click="delete(testimonial.name, testimonial)" ng-if="!demoMode"><i class="fa fa-trash-o"></i></a>
              <a class="confirm-delete btn" role="button" ng-if="demoMode"><i class="fa fa-trash-o"></i></a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
