<div ng-include="'components/navbar/navbar.html'"></div>

<div id="page-wrapper" class="admin">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Portfolio <a ui-sref="admin:portfolio:add" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add Portfolio</a></h2>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-xs-12">

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Client</th>
            <th>Category</th>
            <th>Description</th>
            <th>Logo</th>
            <th>Edit/Remove</th>
          </tr>
        </thead>
        <tbody ui-sortable="sortableOptions" ng-model="portfolios">
          <tr ng-repeat="portfolio in portfolios">
            <td>{{portfolio.client}}</td>
            <td>{{portfolio.category}}</td>
            <td>{{portfolio.description | limitTo: 20}} ...</td>
            <td><img ng-src="assets/images/uploads/{{portfolio.logo}}" class="media-object portfolio-thumb"/></td>
            <td>
              <a class="btn" ui-sref="admin:portfolio:edit({portfolioId:portfolio._id})"><i class="fa fa-pencil-square-o"></i></a>
              <a class="confirm-delete btn" role="button" ng-click="delete(portfolio.client, portfolio)" ng-if="!demoMode"><i class="fa fa-trash-o"></i></a>
              <a class="confirm-delete btn" role="button" ng-if="demoMode"><i class="fa fa-trash-o"></i></a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
