<div ng-include="'components/navbar/navbar.html'"></div>

<div id="page-wrapper" class="admin">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Services <a ui-sref="admin:service:add" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add Service</a></h2>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-xs-12">

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Image</th>
            <th>Edit/Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="service in services">
            <td>{{service.name}}</td>
            <td>
               <img ng-src="assets/images/uploads/{{service.image}}" class="media-object gray-background portfolio-thumb"/>
            </td>
            <td>
              <a class="btn" ui-sref="admin:service:edit({serviceId: service._id})"><i class="fa fa-pencil-square-o"></i></a>
              <a class="confirm-delete btn" role="button" ng-click="delete(service.name, service)" ng-if="!demoMode"><i class="fa fa-trash-o"></i></a>
              <a class="confirm-delete btn" role="button" ng-if="demoMode"><i class="fa fa-trash-o"></i></a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
