<div ng-include="'components/navbar/navbar.html'"></div>

<div id="page-wrapper" class="admin">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Process <a ui-sref="admin:process:add" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add Process</a></h2>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-xs-12">

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Icon</th>
            <th>Edit/Remove</th>
          </tr>
        </thead>
        <tbody ui-sortable="sortableOptions" ng-model="processes">
          <tr ng-repeat="process in processes">
            <td>{{process.name}}</td>
            <td><span><i class="fa {{process.icon}} fa-2x"></i></span></td>
            <td>
              <a class="btn" ui-sref="admin:process:edit({processId:process._id})"><i class="fa fa-pencil-square-o"></i></a>
              <a class="confirm-delete btn" role="button" ng-click="delete(process.name, process)" ng-if="!demoMode"><i class="fa fa-trash-o"></i></a>
              <a class="confirm-delete btn" role="button" ng-if="demoMode"><i class="fa fa-trash-o"></i></a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

