<div ng-include="'components/navbar/navbar.html'"></div>

<div id="page-wrapper" class="admin">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="page-header">Experience <a ui-sref="admin:experience:add" class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Add Experience</a></h2>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->

  <div class="row">
    <div class="col-xs-12">

      <table class="table table-striped">
        <thead>
          <tr>
            <th>Company</th>
            <th>Title</th>
            <th>Time</th>
            <th>Description</th>
            <th>Website</th>
            <th>Edit/Remove</th>
          </tr>
        </thead>
        <tbody ui-sortable="sortableOptions" ng-model="experiences">
          <tr ng-repeat="experience in experiences">
            <td>{{experience.company}}</td>
            <td>{{experience.title}}</td>
            <td ng-hide="experience.current">
              {{experience.startMonth | monthName}}
                {{experience.startYear}} - {{experience.endMonth | monthName}} {{experience.endYear}}
            </td>
            <td ng-show="experience.current">
              {{experience.startMonth | monthName}}
                {{experience.startYear}} - Present
            </td>
            <td>{{experience.description | limitTo: 20}} ...</td>
            <td>{{experience.website}}</td>
            <td>
              <a class="btn" ui-sref="admin:experience:edit({experienceId:experience._id})"><i class="fa fa-pencil-square-o"></i></a>
              <a class="confirm-delete btn" role="button" ng-click="delete(experience.company, experience)" ng-if="!demoMode"><i class="fa fa-trash-o"></i></a>
              <a class="confirm-delete btn" role="button" ng-if="demoMode"><i class="fa fa-trash-o"></i></a>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>

